PythonProject/.idea/PythonProject.iml
PythonProject/.idea/modules.xml
PythonProject/.idea/misc.xml
PythonProject/.idea/inspectionProfiles/profiles_settings.xml
PythonProject/.DS_Store
interim-report/.DS_Store
globem-dataset-multi-year-datasets-for-longitudinal-human-behavior-modeling-generalization-1.1/.DS_Store
globem-dataset-multi-year-datasets-for-longitudinal-human-behavior-modeling-generalization-1.1/Data.zip
globem-dataset-multi-year-datasets-for-longitudinal-human-behavior-modeling-generalization-1.1/.DS_Store
